.layout-container {
  display: flex;
  justify-content: space-between;
}

.App {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.component {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.component1 {
  background-color: #ff9999;
}

.component2 {
  background-color: #99ff99;
}

.component3 {
  background-color: #9999ff;
}
